<p>
  <b>M assessment take:</b>
  <%=h @m_question_take.m_assessment_take_id %>
</p>

<p>
  <b>M answer:</b>
  <%=h @m_question_take.m_answer_id %>
</p>


<%= link_to 'Edit', edit_m_question_take_path(@m_question_take) %> |
<%= link_to 'Back', m_question_takes_path %>